<div class="card">
    <div class="card-header bg-dark">
        <h3 class="card-title text-white">
            <i class="fas fa-phone-square-alt"></i> Extensiones
        </h3>
    </div>
    <div class="row">
        <div class="card-body mt-2">

            <table class="table table-striped table-dark">
                <thead>
                    <tr>
                        <th scope="col">Extensión</th>
                        <th scope="col">Nombre</th>
                        <th scope="col">Tipo</th>
                        <th scope="col"></th>
                        <th scope="col"></th>
                    </tr>
                </thead>
                <tbody>
                    {{#each exts}}
                    <tr>
                        <td>{{extension}}</td>
                        <td>{{name}}</td>
                        <td>{{tech}}</td>
                        <td><button type="button" class="btn btn-success btn-sm" data-toggle="modal"
                                data-target=".bs-example-modal-sm2"><i class="fas fa-edit"></i></button>
                        </td>
                        <td><button type="button" class="btn btn-danger btn-sm"><i
                                    class="fas fa-trash-alt"></i></button></td>
                    </tr>
                    {{/each}}
                </tbody>
            </table>

        </div>
    </div>
</div>
<div class="modal fade bs-example-modal-sm2">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                <h4 class="modal-title">Editar Extensión</h4>
            </div>
            <div class="modal-body">
                <form action="/extension" method="POST">
                    <div class="form-group col-md-4">
                        <label for="inputState">Tipo</label>
                        <select id="inputState" name="tipo" class="form-control" disabled>
                            <option selected>SIP</option>
                            <option>IAX2</option>
                        </select>
                    </div>
                    <div class="form-row align-items-center col-md-12">
                        <div class="form-group col-md-4">
                            <label for="exampleInputEmail1">Nombre</label>
                            <input type="text" name="nombre" class="form-control" required>
                        </div>
                        <div class="form-group col-md-4">
                            <label for="exampleInputEmail1">Extension</label>
                            <input type="text" name="extension" class="form-control" required>
                        </div>
                    </div>
                    <div class="form-group col-md-10">
                        <label for="exampleInputPassword1">Password</label>
                        <input type="password" name="password" class="form-control" id="exampleInputPassword1" required>
                    </div>
                    <div class="form-group col-md-6">
                        <div class="form-check">
                            <label class="form-check-label">
                                <input class="form-check-input" type="checkbox" value="" checked="">
                                Voicemail
                            </label>
                        </div>
                        <div class="form-check">
                            <label class="form-check-label">
                                <input class="form-check-input" type="checkbox" value="">
                                Grabar llamadas
                            </label>
                        </div>
                    </div>

                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
                        <button type="button" class="btn btn-primary">Guardar</button>
                    </div>
                </form>
            </div>

        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->