<div class="card">
    <div class="card-header bg-dark">
        <h3 class="card-title text-white">
            <i class="fas fa-phone-square-alt"></i> Extensiones
        </h3>
    </div>
    <div class="row">
        <div class="card-body mt-2">
            <ul>
                {{#each exts}}
                <li>
                    {{extension}} {{tech}}
                </li>
                {{/each}}
            </ul>

        </div>
    </div>
</div>